@using UFMT.SIGED.Application.ViewModels
@{
    ViewBag.Title = "Index";
    var usuario = (LoginUsuarioViewModel)Session["usuario"];
}

<h2>Olá @usuario.Email</h2>
<h4>Seu perfil de acesso: @usuario.NivelAcesso</h4>

