@model UFMT.SIGED.Application.ViewModels.EstudanteNivelEnsinoViewModel

<h2>Detalhes do Estudante</h2>

<div>
    Nome do Estudante: @Model.Nome <br />
    Data de Nascimento: @Model.DataNascimento
    Nível de Ensino: @Model.Descricao <br />
    Total de Estudantes: @Model.TotalEstudantes

</div>

