@using UFMT.SIGED.Application.ViewModels

@if (Session["usuario"] != null)
{
    var usuario = (LoginUsuarioViewModel)Session["usuario"];

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Olá " + usuario.Email + "!", "Index", "Home"
                , new { area = "administracao" }, null)
        </li>
        <li>
            @Html.ActionLink("Sair", "LogOff", "Autenticacao"
                , new { area = "" }
                , new { id = "btnLogOff" })
    </li>
</ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Entrar", "Index", "Autenticacao"
           , new { area = "" }
           , new { id = "btnLogIn" })
    </li>
</ul>
}
